:root {
    --main-color-1: #FF9E20;
    --main-color-2: #1D2128;
    --offcanvas-bg: #1d2129;
    --detail-color-1: #826fffb7;
    --detail-color-2: #325e6a9c;
    --detail-color-3: #F4F2F2;
    --card-bg: ;
    --card-detail: ;
}

/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.offcanvas-header, .offcanvas-body, .navbar.border-bottom.sticky-top {
    background-color: var(--offcanvas-bg);
    color: var(--main-color-1);
}

.usr-detail-quote {
    font-style: italic;
    background-color: var(--detail-color-2);
    color: var(--detail-color-3);
    padding: 5px;
    border-radius: 10px;
}

.rounded-sm.mb-3 {
    width: auto;
}

.nav-item .nav-link {
    color: var(--main-color-1);
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--main-color-1);
}

.nav-link:hover {
    background-color: var(--main-color-1);
    color: var(--main-color-2);
    font-weight: bold;
    border-radius: 10px;

    transition: 0.5s;
}
.btn-nav {
    color: var(--main-color-1);
    font-weight: bolder;
}
