:root {
    --main-color-1: #FF9E20;
    --main-color-2: #1D2128;
    --main-color-3: #363b56;
    --offcanvas-bg: #1d2129;
    --detail-color-1: #826fffb7;
    --detail-color-2: #325e6a9c;
    --detail-color-3: #F4F2F2;
    --font-color: #f6f6f7;
    --card-bg: ;
    --card-detail: ;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.offcanvas-header, .offcanvas-body, .navbar.sticky-top {
    background-color: var(--offcanvas-bg);
    color: var(--main-color-1);
    border-bottom: 1px solid var(--main-color-3);

}

.usr-detail-quote {
    font-style: italic;
    background-color: var(--detail-color-2);
    color: var(--detail-color-3);
    margin: 0px;
    border-radius: 5px;
}

/*.rounded-sm.mb-3 {
    width: auto;
}*/

.nav-item .nav-link {
    color: var(--main-color-1);
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--main-color-1);
}

.nav-link:hover {
    background-color: var(--main-color-1);
    color: var(--main-color-2);
    font-weight: bold;
    border-radius: 10px;

    transition: 0.5s;
}
.btn-nav {
    color: var(--main-color-1);
    font-weight: bolder;
}
.main-content {
    background-color: var(--main-color-3);
    color: var(--main-color-1);
    padding: 15px;
}

.content-container {
    display: flex;
}

/*.d-block.img-carrosel {
    
}*/

.user-img-offcanvas {
    max-height: 100px;
    max-width: 100px;
    border-radius: 25px;
    margin-right: 15px;

    min-height: 75px;
    min-width: 75px;
}

.carousel-inner {
    width: 600px;
    height: 315px;
    border-radius: 55px;
}
.carousel-caption.d-md-block {
    /* display: block; */
    background-color: #1d2128ae;
    border-radius: 25px;

    padding: 15px;
}

.user-info {
    padding: 5px;
    color: var(--font-color);
}

.font-bold {
    font-weight: bold;
}

.user-baseplate {
    display: flex;
    margin-bottom: 15px;
    padding: 15px;
    border: 2px solid var(--main-color-1);
    border-radius: 25px;

    color: var(--font-color);

    background-color: var(--main-color-3);
}

.usr-username {
    /*padding-left: 15px;*/
    font-family: monospace;
}

.info-p {
    margin: 0;
}